# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Environments
.venv/
.env
venv/
ENV/

# uv
uv.lock

# VSCode / IDE
.vscode/
.idea/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

recipe_search_mini_app/food_info/data
